.header{
    width:100%;
    height: 110px;
    background-color: #385898;
}
body
{
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    width: 50%;
    padding-top: 30px;
    float: left;
}
.logo-text{

    color: white;
    font-size:35px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 100px;

}
.login{
    width: 50%;
    float: left;
    padding-top: 10px;
}
.login-spec{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding-top: 10px;
}
.login-button{
    border-top: #29487b;
    background-color:#4267b2;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    cursor: pointer;
}
.login-button:hover{
    background-color: #385898;
}

.main-body{
    background:linear-gradient(white,#d3d8e8);
    width: 100%;
    height: 643px;
}
.left-section{
width:50%;
float: left;
}

.right-section{
width:50%;
float: left;
}

.body-lefttext{
    padding-left: 135px;
    padding-top: 25px;
    font-size: 21px;
    font-weight: bold;
    color: #29487b;
    font-family: Arial, Helvetica, sans-serif;
}
.img{
    width: 580px;
    padding-left: 135px;
}

.form{
    padding-top: 27px;
    float: left;

} 